# Analisis del set de datos

### Carga de los datos

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
data_set = pd.read_csv("data_set/events.csv", low_memory=False)

### 1) Analisis del tipo de evento

In [3]:
print('Total de eventos:', data_set['event'].count())
event_count = data_set['event'].value_counts().to_frame("Cantidad")
event_count.index.name = "Evento"
event_count

Total de eventos: 1011288

                   Cantidad
Evento
viewed product       528931
brand listing         98635
visited site          87378
ad campaign hit       82827
generic listing       67534
searched products     56073
search engine hit     50957
checkout              33735
staticpage             3598
conversion             1172
lead                    448

### 2) Analisis del los productos con mayor cantidad de conversiones

In [5]:
conversiones = data_set[data_set['event'] == 'conversion']
max_5 = conversiones['sku'].value_counts().head(5).to_frame("conversiones")
max_5.index.name = 'producto'
max_5

          conversiones
producto
6371.0              30
6370.0              18
7631.0              17
2692.0              16
3371.0              14

### Analisis de usuarios con mas actividad en la plataforma

In [6]:
max_10 = data_set['person'].value_counts().head(10).to_frame("eventos")
max_10.index.name = 'usuario'
max_10

          eventos
usuario
71492f2b     2771
6b07be7b     2770
285101a1     2140
3e34b3cf     1877
2d5a84c1     1800
5f25cb5d     1797
5af7e2bc     1773
3b5a5833     1705
d7e60792     1352
cd6e0b8d     1254